.navbar { line-height:60px;}
.sub-menu {top:80px;}
.navbar .nav > li:hover > .sub-menu {top:60px;}
.navbar .collapse #nav-menu,#mini-logo a,.cart-contents,.cart-contents span{ height:60px;}
#mini-logo img { height:14px;}
.fixed .navbar-inverse .navbar-inner {background: #ffffff!important;}
.navbar .nav > li > a,.cart-contents {line-height: 60px;}
.fixed .navbar .nav > li > a, .fixed .cart-contents,.fixed .cart-contents span, .sub-menu li a {color: #000000; }
.fixed .navbar .btn-navbar .icon-bar {background-color: #000000;}
.fixed .navbar .nav > li > a:hover, .fixed .navbar .nav > li.active > a,.fixed .navbar-inverse .nav .active>a:focus, .fixed .navbar .nav > .current-menu-item > a, .cart-contents:hover, .cart-contents span:hover {color: #01a3b2; }
.color, h1 > span, h2 > span, .description-text a, .description-text a:hover,.blog-article a, .article-title, .description-item a, #sidebar a, #comments a, .header-post a, .single-post a, .social a, .section-page a  { color:#01a3b2;}
.add_to_cart_button { border: 1px solid #01a3b2; color: #01a3b2;}
.add_to_cart_button:hover { background-color: #01a3b2;}
#mini-slogan {color: #000000; }
.circle-menu, .nav-tabs li a, #portfolio a.link-portfolio, input[type="submit"], .moretag a, .date-post,.navigation ul li.active a, .info-wrapper,.piu, .nav-control:hover,.comment-body .bg-avatar,.navigation ul li a:hover, .sc-btn { background:#01a3b2;}
.nav-control {border: 2px solid #01a3b2; }
.widget-title {border-left:4px solid #01a3b2;}
.nav-tabs li.active a:hover, .circle-black, .big-title span, .nav-tabs li.active a, .nav-tabs li.current a, .nav-tabs li a:hover, #portfolio a.link-portfolio:hover, .moretag a:hover, input[type="submit"]:hover, .sc-btn:hover, .add_to_cart_button:hover, .woocommerce .button {background: #000000; }
.woocommerce .button {background: #000000!important; }
.woocommerce .checkout-button {background: #01a3b2!important; }
.social-post a span:hover,  ul.social li a span:hover, .big-title, .posts a:hover {color: #000000;}
@media (max-width: 979px) {
	.navbar .collapse {background: #ffffff!important;}
	.navbar .nav > li > a,.navbar .nav > li > a:hover, .navbar .nav > li.active > a,.navbar-inverse .nav .active>a:focus {color: #000000!important; }
}
.tab-pane { margin-top:0px !important; }
#hakkinda, #iletisim, #afis--banner {color:#fff;}
#hakkinda h2, #iletisim h2, #afis--banner h2 {color:#ccc}
#hakkinda .color, #iletisim .color, #afis--banner .color {color:#ccc !important}
#hakkinda a, #iletisim a, #afis--banner a {color:#ccc !important; text-decoration: underline !important;}
#hakkinda a:hover, #iletisim a:hover, #afis--banner a:hover {color:#ccc !important; text-decoration: none !important;}
#hakkinda .fa, #iletisim .fa {color: #ccc;}
#iletisim ul.social li a span {color: #ccc !important;}
#iletisim ul.social li:hover a span {color: #01a3b2 !important;}
.wpcf7-form input[type="text"], .wpcf7-form input[type="email"], .wpcf7-form textarea { color: #fff !important;}
.home-top .mini-logo {visibility: hidden;}
.home-top .mini-logo {visibility: visible;}
