body {
	font-family:"verdana";
	font-size:11px;
	font-color:black;
}
.gri
{
	font-family:"verdana";
	font-size:11px;
	color:gray;
}
A
{
    color: black;
    TEXT-DECORATION: none;
}
A:hover
{
	color:#F36F21;
}
