@font-face {
    font-family: 'AllerRegular';
    src: url('../fonts/allerwebfont.eot');
    src: url('../fonts/allerwebfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/allerwebfont.woff') format('woff'),
         url('../fonts/allerwebfont.ttf') format('truetype'),
         url('../fonts/allerwebfont.svg#AllerRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}