@font-face {
    font-family: 'HelveticaRegular';
    src: url('../fontface/helvetica-webfont.eot');
    src: url('../fontface/helvetica-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontface/helvetica-webfont.woff') format('woff'),
         url('../fontface/helvetica-webfont.ttf') format('truetype'),
         url('../fontface/helvetica-webfont.svg#HelveticaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaCondensedRegular';
    src: url('../fontface/ps_1-webfont.eot');
    src: url('../fontface/ps_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontface/ps_1-webfont.woff') format('woff'),
         url('../fontface/ps_1-webfont.ttf') format('truetype'),
         url('../fontface/ps_1-webfont.svg#HelveticaCondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}