body{
	margin-top:0;
	margin-bottom:0;
	font-family: Verdana, Helvetica;
	font-size: 10px;
}
font{
	font-family:verdana;
	font-color:#949494;
	font-size:12;
}
a{
	color:#95AAFF;
}
a:hover{
	color:#005482;
}
.menu a{
	font-family: Verdana, Arila, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 12px;
	color: #283542;
}