body {
    margin: 0;
    font-size: 12px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    background-color: #000;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 5px 12px;
    text-align: justify;
}

p.date {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

p.warning {
    padding: 50px;
    font-size: 16px;
}

hr {
    margin: 0;
    width: 630px;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

img.logo {
    margin: 0;
    padding: 0;
    float: left;
}

img.button {
    padding: 10px 5px;
}

img.last {
    float: right;
}

ul {
    padding: 0 5px;
}

ul.news {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 11px;
    border-top: 1px solid #CCC;
}

li.new, li.other_new {
    margin-bottom: 5px;
    padding: 5px 12px;
    border-bottom: 1px solid #CCC;
}

ul.news li.other_new {
    margin: 0;
    padding: 2px 10px;
}

ul.news a {
    color: #0000BE;
}

ul.news a:hover {
    color: #000;
}

ul.news p {
    margin-bottom: 5px;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 12px;
    color: #760707;
}

h2 a {
    color: #760707;
}

h4 {
    margin: 0;
    padding: 12px 12px 0 12px;
    color: #760707;
    font-size: 13px;
}

h4 a {
    color: #760707;
}

span.news_description {
    margin: 2px 5px 10px 5px;
    padding: 0;
    font-size: 11px;
    font-style: italic;
    color: #777;
    background-color: #FFC;
    border-top: 1px solid #BBB;
}

.wrapper {
    margin: 0 auto;
    width: 640px;
}

#top {
    background: #FFF url('../images/header_bg.png') no-repeat top center;
    border-bottom: 5px solid #C9D7F1;
}

#header {
    padding-top: 0;
    text-align: right;
    height: 85px;
}

#banner {
    padding-top: 15px;
}

#horizontal_menu {
    height: 21px;
}

#page {
    background: #000 url('../images/background.jpg') no-repeat top center;
    min-height: 580px;
}

#content {
    background-color: #FFF;
    min-height: 450px;
}

#content ul {
    list-style-type: circle;
}

#content ul li {
	padding: 3px 0 3px 20px;
}

#footer {
    margin-bottom: 10px;
    padding: 5px 0;
    border-top: 3px solid #C9D7F1;
    background-color: #D5E4FF;
    font-size: 11px;
    clear: both;
}

#footer a {
    color: #333;
}

#footer span {
    padding: 5px;
    border-right: 2px solid #C9D7F1;
}

#footer p.left {
    margin: 0;
    padding: 0 5px 0 0;
    text-align: right;
    float: right;
}

#google_search {
    margin: 0;
    padding: 0 5px 5px 5px;
}

#google_search input.text {
    margin: 10px 5px 5px 0;
    border: 1px solid #AAA;
    width: 200px;
}

#google_search ul li {
    margin-right: 15px;
    display: inline;
    list-style-type: none;
}

#google_search img {
    float: left;
}

#bottom_right {
    width: 400px;
    float: right;
    border-left: 1px solid #CCC;
}

#other {
    height: 50px;
}

#bottom_area {
    border-top: 2px solid #CCC;
    background-color: #EEE;
}

#what-is-linux {
	padding-bottom: 10px;
	background-color: #FFFFCC;
	border: 1px solid #760707;
	border-left: none;
	border-right: none;
}

#what-is-linux h4 {
	color: #333;
	text-shadow:  2px 2px 4px #CCC;
}