body {
    font-size: 0.85em;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
}

#top {
    background: #FFF url('../images/header_bg.png') no-repeat top center;
    border-bottom: 5px solid #C9D7F1;
}

#header {
    padding-top: 38px;
    text-align: right;
    background: transparent url('../images/logo.png') no-repeat top left;
    height: 72px;
}

#horizontal_menu {
    height: 21px;
}

.wrapper {
    margin: 0 auto;
    width: 700px;
}
