body {
    margin: 0;
    font-size: 0.85em;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    background-color: #000;
}

p {
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    width: 700px;
}

#top {
    background: #FFF url('../images/header_bg.png') no-repeat top center;
    border-bottom: 5px solid #C9D7F1;
}

#header {
    padding-top: 38px;
    text-align: right;
    background: transparent url('../images/logo.png') no-repeat top left;
    height: 72px;
}

#horizontal_menu {
    height: 21px;
}

#page {
    background: #000 url('../images/background.jpg') no-repeat top center;
    min-height: 600px;
}

#content {
    background-color: #FFF;
    min-height: 550px;
}
