body {
    margin: 0;
    font-size: 12px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    background-color: #000;
}

p {
    margin: 0;
    padding: 5px;
}

img.button {
    padding: 10px 5px;
    border: none;
}

img.last {
    float: right;
}

ul.news {
    margin: 10px 0 0 0;
    padding: 5px 0 0 0;
    list-style-type: none;
    font-size: 10px;
    border-top: 1px solid #CCC;
}

li.new, li.other_new {
    margin-bottom: 5px;
    padding: 5px 10px;
    border-bottom: 1px solid #CCC;
}


ul.news li.other_new {
    margin: 0;
    padding: 2px 10px;
}

ul.news a {
    color: #0000BE;
    text-decoration: none;
}

ul.news a:hover {
    color: #000;
}

ul.news h4, ul.news h4.other_news {
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 11px;
}

ul.news h4.other_news {
    padding: 10px 0 5px 5px;
    border-bottom: 1px solid #CCC;
}

ul.news p {
    margin-bottom: 5px;
    padding: 0;
}

h4.news_title {
    margin: 0;
    padding: 0 5px;
}

h4.news_title a {
    text-decoration: none;
    color: #760707;
}

span.news_description {
    margin: 2px 5px 10px 5px;
    padding: 0;
    font-size: 11px;
    font-style: italic;
    color: #777;
    background-color: #FFC;
    border-top: 1px solid #BBB;
}

.wrapper {
    margin: 0 auto;
    width: 640px;
}

#top {
    background: #FFF url('../images/header_bg.png') no-repeat top center;
    border-bottom: 5px solid #C9D7F1;
}

#header {
    padding-top: 38px;
    text-align: right;
    background: transparent url('../images/logo.png') no-repeat top left;
    height: 72px;
}

#horizontal_menu {
    height: 21px;
}

#page {
    background: #000 url('../images/background.jpg') no-repeat top center;
    min-height: 600px;
}

#content {
    background-color: #FFF;
    min-height: 550px;
}
