@charset "utf-8";
/* CSS Document */

* {
 margin:0px;
 padding:0px;
}

body {
0 background:url(images/arkasari.gif) center bottom no-repeat fixed;
}

#istpenguenli {
 width:100%;
 height:211px;
 margin:auto;
 background:url(images/istsiluetpenguenli.gif) repeat-x bottom center;
}

#yazi {
 background:url(images/yazi.gif) no-repeat;
 height:201px;
 width:887px;
}
